* {
  box-sizing: border-box;
}

.App {
}

.header {
  padding: 20px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  background-color: #eee;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  
}

.nav-wrap {
  max-width: 1100px;
  margin: 0 auto;
}

.nav a {
  text-decoration: none;
  display: inline-block;
  margin: 0 10px;
}

.page-wrap {
  padding: 20px;
  max-width: 1100px;
  margin: 0 auto;
}

.link {
  text-decoration: underline;
  cursor: pointer;
  font-size: 14px;
}

.account {
  max-width: 400px;
  margin: 0 auto;
  border: 1px solid #ccc;
  padding: 20px; 
}

.account h4 {
  margin: 0 0 20px 0;
}

.account .form-group {
  margin: 0 0 20px 0;
}

.account input {
  width: 100%;
  display: block;
  padding: 4px 8px;
}

.account label {
  width: 100%;
  display: block;
  color: #666;
  margin-bottom: 5px;
}

.btn {
  padding: 6px 20px;
  border: 1px solid #ccc;
  font-weight: bold;
}

.error {
  color: red;
  background-color: #eee;
  padding: 10px;
  margin-bottom: 15px;
}

.success {
  color: green;
  background-color: #eee;
  padding: 10px;
  margin-bottom: 15px;
}


.loading {
  float: right;
  margin: 20px 20px 0 0;

}

/**
 * ==============================================
 * Dot Falling
 * ==============================================
 */
 .dot-falling {
  position: relative;
  left: -9999px;
  width: 8px;
  height: 8px;
  border-radius: 5px;
  background-color: #eee;
  color: #eee;
  box-shadow: 9999px 0 0 0 #eee;
  animation: dot-falling 1s infinite linear;
  animation-delay: .1s;
}

.dot-falling::before, .dot-falling::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
}

.dot-falling::before {
  width: 8px;
  height: 8px;
  border-radius: 5px;
  background-color: #999;
  color: #999;
  animation: dot-falling-before 1s infinite linear;
  animation-delay: 0s;
}

.dot-falling::after {
  width: 8px;
  height: 8px;
  border-radius: 5px;
  background-color: #999;
  color: #999;
  animation: dot-falling-after 1s infinite linear;
  animation-delay: .2s;
}

@keyframes dot-falling {
  0% {
    box-shadow: 9999px -15px 0 0 rgba(152, 128, 255, 0);
  }
  25%,
  50%,
  75% {
    box-shadow: 9999px 0 0 0 #999;
  }
  100% {
    box-shadow: 9999px 15px 0 0 rgba(152, 128, 255, 0);
  }
}

@keyframes dot-falling-before {
  0% {
    box-shadow: 9984px -15px 0 0 rgba(152, 128, 255, 0);
  }
  25%,
  50%,
  75% {
    box-shadow: 9984px 0 0 0 #999;
  }
  100% {
    box-shadow: 9984px 15px 0 0 rgba(152, 128, 255, 0);
  }
}

@keyframes dot-falling-after {
  0% {
    box-shadow: 10014px -15px 0 0 rgba(152, 128, 255, 0);
  }
  25%,
  50%,
  75% {
    box-shadow: 10014px 0 0 0 #999;
  }
  100% {
    box-shadow: 10014px 15px 0 0 rgba(152, 128, 255, 0);
  }
}